<ion-view view-title="Additional Details">
<ion-nav-title ng-style={{title_Style}}>
    <span>Additional Details</span>
</ion-nav-title>
	<ion-content ng-click="closeDrawer()" class="main_page_bg ioncntnt_pad has-footer" ng-style="content_Style"> 
    <ion-list>
        <div class="list_div" ng-repeat="item in additional_details_obj.details">
            <div class="row">      
              <div class="col col-60 acc_body" ng-class = "item.type == 2?'a':'b'">{{item.name}}</div>          
  
                <div class="col inputTypeText1" ng-show="item.type == 3" ng-class="flag?'ab':'acc_input'">
                    <select id="soi_id" ng-model="item.value"  
                      ng-options="obj.typeDetailId as obj.name for obj in aiArray | orderBy:'typeDetailId'"
                      ng-show="item.type == 3" class="col dd_wrap" 
                      ng-disabled= "flag"
                      ng-class="flag?'ab':'acc_input'"
                      required>
                      <option value="">Select</option>
                    </select>
                  </div>
                <div class="col inputTypeText1" ng-show="item.type == 3.1" ng-class="flag?'ab':'acc_input'">
                    <select id="soi_id" ng-model="item.value"  
                      ng-options="obj.typeDetailId as obj.name for obj in ceArray | orderBy:'typeDetailId'"
                      ng-show="item.type == 3.1" class="col dd_wrap" 
                      ng-disabled= "flag"
                      ng-class="flag?'ab':'acc_input'" 
                      required>
                      <option value="">Select</option>
                    </select>
                  </div>
                <div class="col inputTypeText1" ng-show="item.type == 3.2" ng-class="flag?'ab':'acc_input'">
                    <select id="soi_id" ng-model="item.value"  
                      ng-options="obj.typeDetailId as obj.name for obj in vcArray | orderBy:'typeDetailId'"
                      ng-change="getChange({{$index}},item.value)"
                      ng-show="item.type == 3.2" class="col dd_wrap" 
                      ng-disabled= "flag"
                      ng-class="flag?'ab':'acc_input'" multiple="multiple"
                      required>
                      <option value="">Select</option>
                    </select>
                  </div>
                <div class="col pad_zero" ng-show="item.type == 4" ng-class="flag?'ab':'acc_input'">

                <label class="checkbox" style="padding: 0; padding-top: 5%">
                  <input type="checkbox" ng-model="item.value" ng-disabled= "flag">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
                </div> 

          </div>
        </div>
    </ion-list>
    <pre>                  


  	</pre>
  </ion-content>
    <div class="bar bar-footer">
		  <div class="row" style="padding: 0px;margin-top: -7px;">
			 <button class="button col saveBtn"  ng-click='save()' ng-disabled="flag">Save</button>
			 <button class="button col submitBtn"  ng-click='submit()' ng-disabled="flag">Submit</button>
		  </div>
 	  </div>
</ion-view>