<ion-view view-title="CottonPicking/Harvesting">
<ion-nav-title ng-style={{title_Style}}>
    <span>CottonPicking/Harvesting</span>
</ion-nav-title>
	<ion-content ng-click="closeDrawer()" class="main_page_bg ioncntnt_pad has-footer" ng-style="content_Style">
    <div class="row body_bg" ng-repeat="data in cotton_picking_harvesting_obj.pre_table_data">
      <div class="row">
        <div class="col col-60 inputTypeText" style="width: 100%">
          {{data.label}}
        </div>
                <div class="col pad_zero" ng-show="data.type == 4" ng-class="flag?'ab':'acc_input'">

                <label class="checkbox" style="padding: 0; padding-top: 5%">
                  <input type="checkbox" ng-model="data.value" ng-disabled= "flag" ng-click="storageEnable({{$index}},data.value)">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
                </div>
             <div class="col inputTypeText1" ng-show="data.type == 5" ng-class="data.status||flag?'ab':'acc_input'"  >
              <select ng-model="data.value"  
                ng-options="obj.name as obj.name for obj in tosArray | orderBy:'typeDetailId'"
                ng-change="getTypeOfStorageChange({{$index}},data.value)"
                ng-show="data.type == 5" class="col dd_wrap" ng-class="data.status||flag?'ab':'acc_input'" 
                 ng-disabled="data.status||flag" >
                <option value="">Select</option>
              </select> 
              </div>
<!--             <input type="text" class="col" ng-show="data.type == 5" ng-click="TypeOfStorageClicked({{$index}})"  ng-model="data.value" ng-readonly= "flag" ng-class="flag?'ab':'acc_input'" style="height: inherit;" onpaste="return false;"> -->

      </div>
  </div>
    <ion-list>
        <div ng-repeat="activity in cotton_picking_harvesting_obj.activities">
          <ion-item class="item-stable acc_text"
                    ng-click="toggleGroup(activity)" 
                    style="background: #A18154;"
                    ng-class="{active: isGroupShown(activity)}">
              <i class="icon" ng-class="isGroupShown(activity) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{activity.name}}
          </ion-item>
          <div class="list_div item-accordion" ng-repeat="item in activity.details" ng-show="isGroupShown(activity)">
            <div class="row">      
            <!--   <div class="col col-60 acc_body" ng-show="item.is_parent==true"  ng-class = "item.is_parent?'a':'b'">{{item.name}}</div>   -->
              <div class="col col-60 acc_body" ng-class = "item.is_parent?'a':'b'">{{item.name}}</div> 
  
              <input type="text" ng-pattern="/^[0-9]{1,6}(\.?|(\.[0-9]{1,2}))?$/" ng-keyup="floatValidation2(activity,item,item.value)" class="col" ng-show="item.type == 3"  ng-model="item.value" ng-readonly= "flag" ng-class="flag?'ab':'acc_input'" style="height: inherit;" onpaste="return false;">

              <div class="col inputTypeText1" ng-show="item.type == 1" ng-class="flag?'ab':'acc_input'" >
              <select ng-model="item.value"  
                ng-options="obj.name as obj.name for obj in mopArray"
                ng-change="getChange(activity,item,item.value)"
                ng-show="item.type == 1" class="col dd_wrap" ng-class="flag?'ab':'acc_input'" 
                ng-disabled="flag" required>
                <option value="">Select</option>
              </select> 
              </div>
<!-- 
              <input type="text" class="col" ng-show="item.type == 2" ng-click="HarvestedByClicked(activity,{{$index}})"  ng-model="item.value" ng-readonly= "flag" ng-class="flag?'ab':'acc_input'" style="height: inherit;" onpaste="return false;"> -->

                <div class="col pad_zero" ng-show="item.type == 6" ng-class="flag?'ab':'acc_input'">

                <label class="checkbox" style="padding: 0; padding-top: 5%">
                  <input type="checkbox" ng-model="item.value" ng-disabled= "flag">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
                </div>
              
            </div>
          </div>
        </div>
    </ion-list>
    <div style="float: right">
      <table>
        <tr>
          <button class="ion icon ion-plus add_remove" ng-click="add()" ng-disabled="flag"></button>
        </tr>
        <tr>
          <button class="ion icon ion-minus add_remove" ng-click="remove()" ng-disabled="flag"></button>
        </tr>  
      </table>    
    </div>  
    <pre>                  

  	</pre>
  </ion-content>
    <div class="bar bar-footer">
		  <div class="row" style="padding: 0px;margin-top: -7px;">
			 <button class="button col saveBtn"  ng-click='save()' ng-disabled="flag">Save</button>
			 <button class="button col submitBtn"  ng-click='submit()' ng-disabled="flag">Submit</button>
		  </div>
 	  </div>
</ion-view>