<ion-view view-title="Section-A. For organic/ in-conversion cotton area">
  <ion-content class="main_page_bg ioncntnt_pad">
    <ion-list>
    	<div>  
		  <!-- <div class="item item-divider">
		   Section-A. For organic/ in-conversion cotton area
		  </div> -->
		  <a class="item" ng-click="click_to_form('1')">
		    Help /Employment on the Organic/In-Conversion cotton Farm
		  </a>
		  <a class="item"  ng-click="click_to_form('2')">
		    Soil Preparation Cost for Organic/In-Conversion cotton Farm
		  </a>
		  <a class="item" ng-click="click_to_form('3')">
		    Sowing Cost for Organic/In-Conversion cotton Farm
		  </a>
		  <a class="item" ng-click="click_to_form('4')">
		    Water use in Organic/In-Conversion cotton Farm: Electric pump/ motor
		  </a>
		   <a class="item" ng-click="click_to_form('5')">
		    Irrigation Details for Organic/In-Conversion cotton Farm: Diesel pump
		  </a>
		    <a class="item" ng-click="click_to_form('6')">
		    Manure Application Details for Organic/In-Conversion cotton Farm (total for current year)
		  </a>
		</div>
	</ion-list>
  </ion-content>
</ion-view>